@import "bourbon/bourbon";

/* fonts for days */
@include font-face("robotolight", "../fonts/Roboto-Light", $file-formats: ttf eot);
@include font-face("robotocon", "../fonts/RobotoCondensed-Regular", $file-formats: ttf eot);
@include font-face("openlight", "../fonts/OpenSans-Light", $file-formats: ttf eot);
@include font-face("openregular", "../fonts/OpenSans-Regular", $file-formats: ttf eot);
@include font-face("opensemi", "../fonts/OpenSans-Semibold", $file-formats: ttf eot);
@include font-face("raleway_r", "../fonts/Raleway-Regular", $file-formats: ttf eot);
@include font-face("raleway_m", "../fonts/Raleway-Medium", $file-formats: ttf eot);
@include font-face("quicksand_l", "../fonts/quicksand-light-webfont", $file-formats: ttf eot);
@include font-face("quicksand_r", "../fonts/quicksand-regular-webfont", $file-formats: ttf eot);
@include font-face("quicksand_b", "../fonts/quicksand-bold-webfont", $file-formats: ttf eot);




 /* variables */
 $main-background: #1D1D1D;
 $nav-background: #1D1D1D;
 $main-accent: #6DD5E7;


/* general */
* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	width: 100%;
	font-size: 14px;
}

body {
	background: $main-background;
	font-family: "openregular", sans-serif;
}

/* REST OF THE STUFF */

/* NAVIGATION */

nav{
	position: fixed;
	top: 0;
	width: 100%;
	height: 60px;
	line-height: 60px;
	background: $nav-background;
	color: #fafafa;
	font-size: 1.5em;
	@include box-sizing(border-box);
	padding-left: 70px;
}

nav svg{
	width: 30px;
	height: 30px;
	fill: $main-accent;
	position: absolute;
	top: 50%;
	margin-top: -15px;
}

.icon-loop{
	left: 20px;
}

.icon-cog{
	right: 20px;
}

