@import "bourbon/bourbon";

/* fonts for days */
@include font-face("robotolight", "../fonts/Roboto-Light", $file-formats: ttf eot);
@include font-face("robotocon", "../fonts/RobotoCondensed-Regular", $file-formats: ttf eot);
@include font-face("openlight", "../fonts/OpenSans-Light", $file-formats: ttf eot);
@include font-face("openregular", "../fonts/OpenSans-Regular", $file-formats: ttf eot);
@include font-face("opensemi", "../fonts/OpenSans-Semibold", $file-formats: ttf eot);
@include font-face("raleway_r", "../fonts/Raleway-Regular", $file-formats: ttf eot);
@include font-face("raleway_m", "../fonts/Raleway-Medium", $file-formats: ttf eot);
@include font-face("monster_h", "../fonts/montserrat-hairline-webfont", $file-formats: ttf eot);
@include font-face("monster_l", "../fonts/montserrat-light-webfont", $file-formats: ttf eot);
@include font-face("monster_r", "../fonts/montserrat-regular-webfont", $file-formats: ttf eot);




 /* variables */
 $main-background: #1D1D1D;

 $nav-background: #2F2F2F;
 $seperator-color: #1D1D1D;


 $main-accent: #68CEDE;
 $darker-accent: #55B7C5;
 $main-accent-hover: #77EDFF;
 $gray-text: #B1B1B1;



/* general */
* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	width: 100%;
	font-size: 14px;
}

body {
	background: $main-background;
	font-family: "monster_h", sans-serif;
	font-weight: 600;
}

/* REST OF THE STUFF */

/* NAVIGATION */

nav{
	position: fixed;
	top: 0;
	width: 100%;
	height: 60px;
	line-height: 60px;
	background: $nav-background;
	color: #fafafa;
	font-size: 1.5em;
	@include box-sizing(border-box);
	padding-left: 0px;
	text-align: center;
	font-weight: 700;
}

nav svg{
	width: 30px;
	height: 30px;
	fill: $darker-accent;
	position: absolute;
	top: 50%;
	margin-top: -15px;
	cursor: pointer;
	@include transition(all .1s ease-out);

	&:hover{
		fill: $main-accent-hover;
		@include transform(scale(1.05));
	}
}

.icon-spinner2{
	left: 35px;
}

.icon-cog{
	right: 35px;
}

/* ASIDE (left appended navigation buttons) */

aside{
	position: fixed;
	top: 63px;
	left: 0;
	height: 100%;
	width: 100px;
	background: $nav-background;
}

aside figure{
	width: 100%;
	height: 100px;
	border-bottom: 3px solid $seperator-color;
	cursor: pointer;
	color: $darker-accent;
	text-align: center;
	line-height: 100px;
	font-size: 2.5em;
	position: relative;
	@include transition(all .1s ease-out);


	figcaption{
		font-size: 14px;
		position: relative;
		top: -62px;
		font-family: "monster_h", sans-serif;
		color: $gray-text;
	}

	svg{
		fill: $darker-accent;
		width: 50px;
		height: 50px;
		position: absolute;
		left: 50%;
		margin-left: -25px;
		top: 50%;
		margin-top: -25px;
		@include transition(all .1s ease-out);
	}

	&:hover{
		svg{
			//@include transform(scale(1.05));
			fill: $main-accent-hover;
		}

		//font-size: 2.6em;
		color: $main-accent-hover;
		background: rgba(255,255,255,0.1);

	}
}



