/* fonts for days */
@font-face {
  font-family: "robotolight";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Light.ttf") format("truetype"); }
@font-face {
  font-family: "robotocon";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RobotoCondensed-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensed-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "openlight";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light.ttf") format("truetype"); }
@font-face {
  font-family: "openregular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "opensemi";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSans-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Semibold.ttf") format("truetype"); }
@font-face {
  font-family: "raleway_r";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Raleway-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "raleway_m";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Raleway-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Medium.ttf") format("truetype"); }
@font-face {
  font-family: "quicksand_l";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/quicksand-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/quicksand-light-webfont.ttf") format("truetype"); }
@font-face {
  font-family: "quicksand_r";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/quicksand-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/quicksand-regular-webfont.ttf") format("truetype"); }
@font-face {
  font-family: "quicksand_b";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/quicksand-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/quicksand-bold-webfont.ttf") format("truetype"); }
/* variables */
/* general */
* {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 14px; }

body {
  background: #1D1D1D;
  font-family: "openregular", sans-serif; }

/* REST OF THE STUFF */
/* NAVIGATION */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #282828;
  color: #fafafa;
  font-size: 1.5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 70px; }

nav svg {
  width: 30px;
  height: 30px;
  fill: #68CEDE;
  position: absolute;
  top: 50%;
  margin-top: -15px; }

.icon-loop {
  left: 20px; }

.icon-cog {
  right: 20px; }

/*# sourceMappingURL=style.css.map */
