/* * * * * * * * * * * * * * * *
 *                             *
 *           FONTS             *
 *                             *
 * * * * * * * * * * * * * * * */
@font-face {
  font-family: "robotolight";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Light.ttf") format("truetype"); }
@font-face {
  font-family: "robotocon";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RobotoCondensed-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensed-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "openlight";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light.ttf") format("truetype"); }
@font-face {
  font-family: "openregular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "opensemi";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSans-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Semibold.ttf") format("truetype"); }
@font-face {
  font-family: "raleway_r";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Raleway-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "raleway_m";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Raleway-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Medium.ttf") format("truetype"); }
@font-face {
  font-family: "monster_h";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/montserrat-hairline-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-hairline-webfont.ttf") format("truetype"); }
@font-face {
  font-family: "monster_l";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/montserrat-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-light-webfont.ttf") format("truetype"); }
@font-face {
  font-family: "monster_r";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/montserrat-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-regular-webfont.ttf") format("truetype"); }
/* SASS VARIABLES */
/* * * * * * * * * * * * * * * *
 *                             *
 *        GENERAL STYLE        *
 *                             *
 * * * * * * * * * * * * * * * */
* {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 14px; }

body {
  background: #1D1D1D;
  font-family: "monster_h", sans-serif;
  font-weight: 600;
  color: #E6E6E6; }

main {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 63px;
  padding-bottom: 33px;
  padding-left: 103px; }

/* * * * * * * * * * * * * * * *
 *                             *
 *     NAVIGATION & FOOTER     *
 *                             *
 * * * * * * * * * * * * * * * */
/* TOP NAV */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #272E32;
  font-size: 1.5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 0px;
  text-align: center;
  font-weight: 700;
  color: #fafafa;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px; }

nav svg {
  width: 30px;
  height: 30px;
  fill: #55B7C5;
  position: absolute;
  top: 50%;
  margin-top: -15px;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out; }
  nav svg:hover {
    fill: #77EDFF;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05); }

.icon-spinner2 {
  left: 35px; }

.icon-cog {
  right: 35px; }

/* SIDE NAV */
aside {
  position: fixed;
  top: 63px;
  left: 0;
  height: -webkit-calc(100% - 96px);
  height: calc(100% - 96px);
  width: 100px;
  background: #272E32;
  border-radius: 0px; }

aside figure {
  width: 100%;
  height: 100px;
  border-bottom: 3px solid #1D1D1D;
  cursor: pointer;
  color: #55B7C5;
  text-align: center;
  line-height: 80px;
  font-size: 2.5em;
  position: relative;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out; }
  aside figure figcaption {
    font-size: 14px;
    position: relative;
    top: -42px;
    font-family: "monster_h", sans-serif;
    color: #B1B1B1; }
  aside figure svg {
    fill: #55B7C5;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    margin-left: -25px;
    top: 50%;
    margin-top: -37px;
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out; }
  aside figure:hover {
    color: #77EDFF;
    background: rgba(255, 255, 255, 0.1); }
    aside figure:hover svg {
      fill: #77EDFF; }

.nav-selected {
  color: #77EDFF;
  background: rgba(255, 255, 255, 0.1); }
  .nav-selected svg {
    fill: #77EDFF; }

/* FOOTER */
footer {
  position: fixed;
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  bottom: 0px;
  left: 0;
  color: #B1B1B1;
  background: #272E32;
  font-size: 0.9em;
  border-top: 3px solid #1D1D1D;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px; }

/* * * * * * * * * * * * * * * *
 *                             *
 *        WIRE GENERAL         *
 *                             *
 * * * * * * * * * * * * * * * */
.coin_wrapper {
  padding: 40px 40px; }

/* * * * * * * * * * * * * * * *
 *                             *
 *           WIRE 1            *
 *                             *
 * * * * * * * * * * * * * * * */
#w1-wrapper {
  text-align: center;
  padding-top: 120px; }
  #w1-wrapper > section {
    display: inline-block;
    vertical-align: middle;
    margin: 0 50px;
    width: 360px; }

#w1-left {
  height: 230px;
  text-align: left; }
  #w1-left h1 {
    font-family: "monster_l", sans-serif;
    font-size: 2em; }
  #w1-left h3 {
    font-size: 1.1em; }
  #w1-left a {
    text-decoration: none;
    color: #E6E6E6; }
  #w1-left span {
    display: block;
    width: 100%;
    height: 55px;
    line-height: 55px;
    text-align: center;
    font-size: 1.3em;
    margin-top: 30px; }

#sign-up-button {
  background: #1C3A3F;
  border: 1px solid #151515; }
  #sign-up-button:hover {
    border: 1px solid #68CEDE; }

#log-in-button {
  background: #397C86;
  border: 1px solid #151515; }
  #log-in-button:hover {
    border: 1px solid #68CEDE; }

#w1-right {
  height: 450px; }

#iphone {
  height: 100%;
  width: 230px;
  margin: 0 auto;
  background: #151515;
  border-radius: 30px;
  border: 2px solid #565656;
  position: relative; }
  #iphone > div {
    position: absolute; }

#iphone-camera {
  background: #252525;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  top: 21px;
  left: 75px; }

#iphone-speaker {
  background: #252525;
  width: 40px;
  height: 4px;
  border-radius: 5px;
  left: 50%;
  margin-left: -20px;
  top: 23px; }

#iphone-screen {
  position: relative !important;
  height: 350px;
  width: 210px;
  margin: 50px 10px;
  background: #a1a1a1; }

#iphone-home {
  width: 30px;
  height: 30px;
  border: 2px solid #252525;
  border-radius: 100%;
  left: 50%;
  margin-left: -15px;
  bottom: 7px; }

/* * * * * * * * * * * * * * * *
 *                             *
 *         WIRE 2 & 3          *
 *                             *
 * * * * * * * * * * * * * * * */
.overview-panel {
  width: 300px; }
  .overview-panel .total-value {
    width: 100%;
    height: 80px;
    background: #272E32;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 20px; }
    .overview-panel .total-value > div {
      display: inline-block;
      vertical-align: bottom; }
    .overview-panel .total-value .total-dollars {
      margin-top: 3px;
      font-size: 2em;
      font-weight: 900; }
    .overview-panel .total-value .total-change {
      color: #B1B1B1;
      position: relative;
      bottom: 3px;
      left: 2px; }
    .overview-panel .total-value .total-label {
      font-size: 1.1em; }
  .overview-panel .market-status {
    width: 100%;
    height: 20px;
    margin-top: 20px;
    font-size: 1.05em; }
    .overview-panel .market-status > div {
      display: inline-block; }
    .overview-panel .market-status .market-open {
      float: left; }
    .overview-panel .market-status .market-time {
      float: right; }
  .overview-panel .market-list {
    width: 100%;
    margin-top: 20px; }
    .overview-panel .market-list .market-item-header {
      border-bottom: 1px solid #272E32;
      padding-bottom: 10px;
      position: relative;
      cursor: pointer; }
      .overview-panel .market-list .market-item-header svg {
        position: absolute;
        right: 5px;
        top: 3px;
        fill: #E6E6E6;
        width: 15px;
        height: 15px; }
      .overview-panel .market-list .market-item-header:hover {
        color: #77EDFF; }
        .overview-panel .market-list .market-item-header:hover svg {
          fill: #77EDFF; }
    .overview-panel .market-list .market-item-stats {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      padding: 10px 25px; }
      .overview-panel .market-list .market-item-stats table {
        width: 100%; }
        .overview-panel .market-list .market-item-stats table tr:first-child {
          color: #68CEDE; }
      .overview-panel .market-list .market-item-stats td {
        text-align: center;
        width: 33%;
        margin: 0;
        padding: 5px 0; }
  .overview-panel .pos-change {
    color: #A7FF8B !important; }
  .overview-panel .neg-change {
    color: #FF6A65 !important; }

/* * * * * * * * * * * * * * * *
 *                             *
 *           WIRE 4            *
 *                             *
 * * * * * * * * * * * * * * * */
.coin_head_wrapper > h2 {
  font-weight: bolder;
  margin-top: 0;
  margin-bottom: 25px;
  margin-left: 35px; }

.back_mobile {
  display: none;
  visibility: hidden; }

.coin_main {
  width: 100%;
  height: 100%;
  display: inline-block; }

.coin_image {
  width: 275px;
  height: 200px;
  margin-bottom: 40px;
  text-align: center;
  float: left; }

.coin_detail {
  float: left; }
  .coin_detail a {
    text-decoration: none;
    color: #E6E6E6; }
  .coin_detail span {
    display: block;
    height: 55px;
    line-height: 55px;
    text-align: center;
    font-size: 1.3em;
    margin-left: auto;
    margin-right: auto; }

.img_box {
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  border: 1px dashed white; }

.img_circle {
  width: 160px;
  height: 160px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  background-color: #5D5D5D; }

table {
  width: 275px;
  margin-left: auto;
  margin-right: auto; }

tr > td {
  padding-bottom: 15px; }

tr > td:first-child {
  text-align: right;
  padding-right: 15px; }

tr > td:nth-child(2) {
  text-align: left;
  color: #68CEDE; }

strong {
  font-family: "monster_r";
  font-weight: 700; }

/* * * * * * * * * * * * * * * *
 *                             *
 *           WIRE 5            *
 *                             *
 * * * * * * * * * * * * * * * */
input {
  background-color: #4c4c4c;
  width: 125px;
  height: 27px;
  padding: 0 10px;
  border: none;
  color: white;
  font-family: "monster_h";
  font-size: 12px;
  border-radius: 5px;
  outline: 0; }

input:focus {
  outline: 2px solid #68CEDE; }

select {
  background-color: #4c4c4c;
  width: 145px;
  height: 27px;
  color: white;
  border: none;
  font-family: "monster_h";
  font-size: 12px;
  outline: 0; }

#save {
  background: #397C86;
  border: 1px solid #151515;
  color: white;
  text-decoration: none;
  width: 275px; }
  #save:hover {
    border: 1px solid #68CEDE; }

#cancel {
  background: #1C3A3F;
  border: 1px solid #151515;
  color: white;
  text-decoration: none;
  width: 275px;
  height: 40px;
  line-height: 40px;
  margin-top: 15px; }
  #cancel:hover {
    border: 1px solid #68CEDE; }

/* * * * * * * * * * * * * * * *
 *                             *
 *     RESPONSIVE HANDLING     *
 *                             *
 * * * * * * * * * * * * * * * */
@media screen and (max-width: 1000px) {
  #w1-wrapper section {
    margin: 50px 0px; }

  aside {
    display: none;
    visibility: hidden; }

  main {
    padding-left: 0; }

  .coin_main {
    width: 100%;
    text-align: center; }

  nav {
    display: none;
    visibility: hidden; }

  .coin_head_wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: #272E32;
    font-size: 1.5em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 0px;
    text-align: center;
    font-weight: 700;
    color: #fafafa;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px; }

  .back_desk {
    display: none;
    visibility: hidden; }

  .back_mobile {
    display: inline;
    visibility: visible;
    position: absolute;
    margin-top: 17px;
    left: 10px; }

  .coin_main {
    display: inline; }

  .coin_image {
    float: none;
    margin-left: auto;
    margin-right: auto; }

  .coin_detail {
    float: none;
    margin-left: auto;
    margin-right: auto; }

  .head_text {
    margin-left: -30px; } }

/*# sourceMappingURL=style.css.map */
